// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  --spacer: 20px;
}

body {
  margin: 0;
}

main {
  padding: var(--spacer);
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: whitesmoke;
}

nav > * {
  padding: var(--spacer);
}