<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Super Team Picker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Welcome to Super Team Picker</h1>
    
    </body>
</html>